p{
    font-family: Roboto;
    margin-top: 0;
    margin-bottom: 0;
}
body{
    font-family: Roboto, Arial;
    margin: 0;
    height: 900px;
    padding-top: 82px;
    padding-left: 96px;
    padding-right: 24px;
    background-color: #f6f5f5;
}
@media (min-width: 1200.1px) {
    body{
        padding-left: 230px;
    }
}